.no-radius {
  border-radius: 0px;
  border-style: none;
}

.card-section {
  width: auto;
  height: auto;

}

#poster {
  border-style: solid;
}

#imgId {
  border-color: var(--section-title-color);
  border-style: solid;
  border-radius: 25px;
  background-color: #fff;
  /* object-fit: cover; */
  border-style: none;
}

/* ------------- */
#movie-details p,
#cast-details p,
#movie-reviews h6 {
  margin: 0px;
}

#cast-details p {
  font-size: 15px;
}

#review-heading-modal {
  background-color: var(--color-dark);
  color: var(--title-color-1);
}

.div-movie-details {
  background-color: #1B1616;
  padding-top: 40px;
}

#movie-details {
  background-color: #1B1616;
  color: var(--title-color-1);
}

#movie-cast-section,
#movie-reviews {

  background-color: var(--color-dark1);
  color: var(--title-color-1);
}

a {
  color: var(--title-color-1);

}

.section-review {
  background-color: #1B1616;
}

.movie-cast .grid-container {
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.movie-cast .card-group {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;

}

.movie-cast .card {
  flex: 0 0 auto;
  margin-right: 1rem;
}

.movie-cast .grid-x {
  overflow-x: auto;
  width: max-content;
  margin-left: -1rem;
  padding-top: 10px;
}

.movie-cast .cell {
  scroll-snap-align: start;
  flex: 0 0 auto;
  margin-right: 0;
  margin-left: 1rem;

}

.cast-title {
  text-decoration: solid;
}